<form (ngSubmit)="login()" #loginForm="ngForm">
  <div>
    <label for="username">Username/Email:</label>
    <input
      type="text"
      id="username"
      name="username"
      [(ngModel)]="loginFormModel.username"
      required
    />
  </div>
  <div>
    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      name="password"
      [(ngModel)]="loginFormModel.password"
      required
    />
  </div>
  <button type="submit">Login</button>
</form>
<button routerLink="/signup">Signup</button>
